@import "./reset", "./header", "./artigoCompleto";

body {
  display: grid;
  place-content: center;
}

form {
  max-width: 1440px;

  display: flex;
  flex-direction: column;

  & img#imagePreview {
    align-self: center;

    border-radius: 6px;
    max-width: 400px;
    margin-top: 1rem;
    display: none;
  }
}
